body{
    font-family: "Open Sans", sans-serif;
    color: #444444;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Nunito", sans-serif;
}

/* navbar */
.navbar {
    overflow: hidden;
  /* background-color: #333; */
  position: fixed;
  top: 0;
  width: 100%;
}
.navbar-nav a {
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 15px;
}

.navbar-light .navbar-brand {
    color: #ff0000;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
}

.navbar-light .navbar-brand:focus,
.navbar-light .navbar-brand:hover {
    color: #ff0000;
}

.navbar-light .navbar-nav .navbar-link {
    color: #ff0000;
}

/* section */
.section-title {
    text-align: center;
    padding-bottom: 30px;
  }
  
  .section-title h2 {
    font-size: 13px;
    letter-spacing: 1px;
    font-weight: 700;
    padding: 8px 20px;
    line-height: 1;
    margin: 0;
    background: #2fcde9;
    color: #487da0;
    display: inline-block;
    text-transform: uppercase;
    border-radius: 50px;
  }
  
  .section-title h3 {
    margin: 15px 0 0 0;
    font-size: 32px;
    font-weight: 700;
  }
  
  .section-title h3 span {
    color: #487da0;
  }

  /* overview content */
.text-content{
    margin-top: 3rem;
    margin-bottom: 3rem;
}
.row .list-icon{
    list-style: none;
    padding: 0;
}
.row .list-icon li{
    padding-left: 28px;
    position: relative;
}
.row .list-icon i{
    position: absolute;
    left: 0;
    top: 2px;
    font-size: 20px;
    color: #4dc0b5;
    line-height: 1;
}

/* why */
.row .icon-box {
    padding: 25px 25px;
    position: relative;
    overflow: hidden;
    background: #fff;
    box-shadow: 2px 0 35px 0 rgba(68, 88, 144, 0.12);
    transition: all 0.3s ease-in-out;
    border-radius: 8px;
    z-index: 1;
    text-align: center;
}
.row .icon-box h3 a{
    font-size: 18px;
    font-weight: bold;
}
.row .icon-box i {
    font-size: 15px;
    line-height: 1;
    color: #2fcde9;
    transition: all 0.3s ease-in-out;
  }

.row .icon-box::before {
    content: '';
    position: absolute;
    background: #fdeff2;
    right: 0;
    left: 0;
    bottom: 0;
    top: 100%;
    transition: all 0.4s;
    z-index: -1;
}
.row .icon-box:hover::before {
    background: rgb(138, 149, 160);
    top: 0;
    border-radius: 0px;
    color: #fff;
}
.row .icon-box:hover h3, .row .icon-box:hover i {
    color: #fff;
}
@media(max-width:507px){
    .row .icon-box h3 a{
        font-size: 12px;
    }
}

